<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.sexysuckzoo.pollinone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyA_vRK17T_ccc2Duk385TPpACv2J6KbdkI" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingPoll" />
        <activity android:name=".StartingVote" />
        <activity android:name=".JoiningPoll" />
        <activity android:name=".SearchingPoll" />
        <activity android:name=".WaitingVoteToStart" />
        <activity android:name=".Voting" />
        <activity android:name=".VotingHost" />
        <activity android:name=".VotingResult"></activity>
    </application>

</manifest>